---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
	<body class="font-poppins">
		<Header />
		
			  
		  
		  
		  <div class="bg-gray-50 py-24 sm:py-24 fade-in">
			<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
			  <h2 class="text-center text-base/7 font-semibold text-orangep">Implemente más rápido</h2>
			  <p class="mx-auto mt-2 text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">Impulsamos tu negocio con soluciones personalizadas</p>
			  <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
				<div class="relative lg:row-span-2">
				  <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
				  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
					<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
					  <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Compatible con dispositivos moviles</p>
					  <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Tu contenido siempre visible y funcional en cualquier smartphone o tablet.</p>
					</div>
					<div class="@container relative min-h-[30rem] w-full grow max-lg:mx-auto max-lg:max-w-sm">
					  <div class="absolute inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[3rem] md:rounded-t-[2.5rem] lg:rounded-t-[2rem] border-x-[10px] border-t-[11px] border-gray-700 bg-gray-900 shadow-2xl">
						<img class="size-full object-cover object-top" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png" alt="">
					  </div>
					</div>
				  </div>
				  <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-l-[2rem]"></div>
				</div>
				<div class="relative max-lg:row-start-1">
				  <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"></div>
				  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
					<div class="px-8 pt-8 sm:px-10 sm:pt-10">
					  <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Rendimiento</p>
					  <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Innovamos con IA y tecnología avanzada para hacer crecer tu negocio.</p>
					</div>
					<div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
					  <img class="w-full max-lg:max-w-xs" src="src/components/bento-03-performance.jpg" alt="">
					</div>
				  </div>
				  <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"></div>
				</div>
				<div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
				  <div class="absolute inset-px rounded-lg bg-white"></div>
				  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
					<div class="px-8 pt-8 sm:px-10 sm:pt-10">
					  <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Altamente personalizadas</p>
					  <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Creamos sitios web y contenido digital adaptado 100% a las necesidades y objetivos de tu marca.</p>
					</div>
					<div class="@container flex flex-1 items-center max-lg:py-6 lg:pb-2">
					  <img class="h-[min(152px,40cqw)] object-cover" src="src/components/horiz.jpg" alt="">
					</div>
				  </div>
				  <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"></div>
				</div>
				<div class="relative lg:row-span-2">
				  <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
				  <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
					<div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
					  <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Código nativo</p>
					  <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">Rendimiento superior con código limpio y optimizado para máxima velocidad.</p>
					</div>
					<div class="relative min-h-[30rem] w-full grow">
					  <div class="absolute top-10 right-0 bottom-0 left-10 overflow-hidden rounded-tl-xl bg-gray-900 shadow-2xl">
						<div class="flex bg-gray-800/40 ring-1 ring-white/5">
						  <div class="-mb-px flex text-sm/6 font-medium text-gray-400">
							<div class="border-r border-b border-r-white/10 border-b-white/20 bg-white/5 px-4 py-2 text-white">NotificationSetting.jsx</div>
							<div class="border-r border-gray-600/10 px-4 py-2">App.jsx</div>
						  </div>
						</div>
						<div class="px-6 pt-6 pb-14">
						  <!-- Your code example -->
						  
						</div>
					  </div>
					</div>
				  </div>
				  <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
				</div>
			  </div>
			</div>
		  </div>


		  
		<!-- HEROOOO 2 -->
		
		<div class="overflow-hidden bg-white py-24 sm:py-32 fade-in">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
			  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
				<div class="lg:pt-4 lg:pr-8">
				  <div class="lg:max-w-lg">
					<h2 class="text-base/7 font-semibold text-orangep">Deploy faster</h2>
					<p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">A better workflow</p>
					<p class="mt-6 text-lg/8 text-gray-600">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>
					<dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
					  <div class="relative pl-9">
						<dt class="inline font-semibold text-gray-900">
						  <svg class="absolute top-1 left-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
							<path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
						  </svg>
						  Push to deploy.
						</dt>
						<dd class="inline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
					  </div>
					  <div class="relative pl-9">
						<dt class="inline font-semibold text-gray-900">
						  <svg class="absolute top-1 left-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
							<path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
						  </svg>
						  SSL certificates.
						</dt>
						<dd class="inline">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.</dd>
					  </div>
					  <div class="relative pl-9">
						<dt class="inline font-semibold text-gray-900">
						  <svg class="absolute top-1 left-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
							<path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
							<path fill-rule="evenodd" d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" />
						  </svg>
						  Database backups.
						</dt>
						<dd class="inline">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</dd>
					  </div>
					</dl>
				  </div>
				</div>
				<img src="https://tailwindui.com/plus/img/component-images/dark-project-app-screenshot.png" alt="Product screenshot" class="w-[48rem] max-w-none rounded-xl ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
			  </div>
			</div>
		  </div>

			<!-- Portafolio -->

		<div class="bg-gray-100 wid fade-in">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
				<h2 class="text-2xl font-bold text-gray-900">Portafolio</h2>
		
				<div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
				<div class="group relative">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-02-edition-01.jpg" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
					<h3 class="mt-6 text-sm text-gray-500">
					<a href="#">
						<span class="absolute inset-0"></span>
						Desk and Office
					</a>
					</h3>
					<p class="text-base font-semibold text-gray-900">Work from home accessories</p>
				</div>
				<div class="group relative">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-02-edition-02.jpg" alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
					<h3 class="mt-6 text-sm text-gray-500">
					<a href="#">
						<span class="absolute inset-0"></span>
						Self-Improvement
					</a>
					</h3>
					<p class="text-base font-semibold text-gray-900">Journals and note-taking</p>
				</div>
				<div class="group relative">
					<img src="https://tailwindui.com/plus/img/ecommerce-images/home-page-02-edition-03.jpg" alt="Collection of four insulated travel bottles on wooden shelf." class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-2/1 lg:aspect-square">
					<h3 class="mt-6 text-sm text-gray-500">
					<a href="#">
						<span class="absolute inset-0"></span>
						Travel
					</a>
					</h3>
					<p class="text-base font-semibold text-gray-900">Daily commute essentials</p>
				</div>
				</div>
			</div>
			</div>
		</div>
  


		
		<!-- PRECIOOOS -->

		<div class="relative isolate bg-white px-6 py-24 sm:py-32 lg:px-8 fade-in">
			<div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
			  <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			</div>
			<div class="mx-auto max-w-4xl text-center">
			  <h2 class="text-base/7 font-semibold text-indigo-600">Pricing</h2>
			  <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-6xl">Choose the right plan for you</p>
			</div>
			<p class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">Choose an affordable plan that’s packed with the best features for engaging your audience, creating customer loyalty, and driving sales.</p>
			<div class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2">
			  <div class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl">
				<h3 id="tier-hobby" class="text-base/7 font-semibold text-indigo-600">Hobby</h3>
				<p class="mt-4 flex items-baseline gap-x-2">
				  <span class="text-5xl font-semibold tracking-tight text-gray-900">$29</span>
				  <span class="text-base text-gray-500">/month</span>
				</p>
				<p class="mt-6 text-base/7 text-gray-600">The perfect plan if you&#039;re just getting started with our product.</p>
				<ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					25 products
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Up to 10,000 subscribers
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Advanced analytics
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					24-hour support response time
				  </li>
				</ul>
				<a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-indigo-600 ring-1 ring-indigo-200 ring-inset hover:ring-indigo-300 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">Get started today</a>
			  </div>
			  <div class="relative rounded-3xl bg-gray-900 p-8 ring-1 shadow-2xl ring-gray-900/10 sm:p-10">
				<h3 id="tier-enterprise" class="text-base/7 font-semibold text-indigo-400">Enterprise</h3>
				<p class="mt-4 flex items-baseline gap-x-2">
				  <span class="text-5xl font-semibold tracking-tight text-white">$99</span>
				  <span class="text-base text-gray-400">/month</span>
				</p>
				<p class="mt-6 text-base/7 text-gray-300">Dedicated support and infrastructure for your company.</p>
				<ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Unlimited products
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Unlimited subscribers
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Advanced analytics
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Dedicated support representative
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Marketing automations
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
					</svg>
					Custom integrations
				  </li>
				</ul>
				<a href="#" aria-describedby="tier-enterprise" class="mt-8 block rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">Get started today</a>
			  </div>
			</div>
		  </div>

		  <!-- TESTIMONIOS -->

		  <section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8 fade-in">
			<div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),white)] opacity-20"></div>
			<div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white ring-1 shadow-xl shadow-indigo-600/10 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
			<div class="mx-auto max-w-2xl lg:max-w-4xl">
			  <img class="mx-auto h-12" src="https://tailwindui.com/plus/img/logos/workcation-logo-indigo-600.svg" alt="">
			  <figure class="mt-10">
				<blockquote class="text-center text-xl/8 font-semibold text-gray-900 sm:text-2xl/9">
				  <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”</p>
				</blockquote>
				<figcaption class="mt-10">
				  <img class="mx-auto size-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
				  <div class="mt-4 flex items-center justify-center space-x-3 text-base">
					<div class="font-semibold text-gray-900">Judith Black</div>
					<svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
					  <circle cx="1" cy="1" r="1" />
					</svg>
					<div class="text-gray-600">CEO of Workcation</div>
				  </div>
				</figcaption>
			  </figure>
			</div>
		  </section>
		  

		  <!--  CONTACTO -->

		  <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8 fade-in">
			<div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
			  <div class="relative left-1/2 -z-10 aspect-1155/678 w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			</div>
			<div class="mx-auto max-w-2xl text-center">
			  <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Contact sales</h2>
			  <p class="mt-2 text-lg/8 text-gray-600">Aute magna irure deserunt veniam aliqua magna enim voluptate.</p>
			</div>
			<form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
			  <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
				<div>
				  <label for="first-name" class="block text-sm/6 font-semibold text-gray-900">First name</label>
				  <div class="mt-2.5">
					<input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
				  </div>
				</div>
				<div>
				  <label for="last-name" class="block text-sm/6 font-semibold text-gray-900">Last name</label>
				  <div class="mt-2.5">
					<input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
				  </div>
				</div>
				<div class="sm:col-span-2">
				  <label for="company" class="block text-sm/6 font-semibold text-gray-900">Company</label>
				  <div class="mt-2.5">
					<input type="text" name="company" id="company" autocomplete="organization" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
				  </div>
				</div>
				<div class="sm:col-span-2">
				  <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email</label>
				  <div class="mt-2.5">
					<input type="email" name="email" id="email" autocomplete="email" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
				  </div>
				</div>
				<div class="sm:col-span-2">
				  <label for="phone-number" class="block text-sm/6 font-semibold text-gray-900">Phone number</label>
				  <div class="mt-2.5">
					<div class="flex rounded-md bg-white outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600">
					  <div class="grid shrink-0 grid-cols-1 focus-within:relative">
						<select id="country" name="country" autocomplete="country" aria-label="Country" class="col-start-1 row-start-1 w-full appearance-none rounded-md py-2 pr-7 pl-3.5 text-base text-gray-500 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
						  <option>US</option>
						  <option>CA</option>
						  <option>EU</option>
						</select>
						<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
						  <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
						</svg>
					  </div>
					  <input type="text" name="phone-number" id="phone-number" class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" placeholder="123-456-7890">
					</div>
				  </div>
				</div>
				<div class="sm:col-span-2">
				  <label for="message" class="block text-sm/6 font-semibold text-gray-900">Message</label>
				  <div class="mt-2.5">
					<textarea name="message" id="message" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
				  </div>
				</div>
				<div class="flex gap-x-4 sm:col-span-2">
				  <div class="flex h-6 items-center">
					<!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
					<button type="button" class="flex w-8 flex-none cursor-pointer rounded-full bg-gray-200 p-px ring-1 ring-gray-900/5 transition-colors duration-200 ease-in-out ring-inset focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" role="switch" aria-checked="false" aria-labelledby="switch-1-label">
					  <span class="sr-only">Agree to policies</span>
					  <!-- Enabled: "translate-x-3.5", Not Enabled: "translate-x-0" -->
					  <span aria-hidden="true" class="size-4 translate-x-0 transform rounded-full bg-white ring-1 shadow-xs ring-gray-900/5 transition duration-200 ease-in-out"></span>
					</button>
				  </div>
				  <label class="text-sm/6 text-gray-600" id="switch-1-label">
					By selecting this, you agree to our
					<a href="#" class="font-semibold text-indigo-600">privacy&nbsp;policy</a>.
				  </label>
				</div>
			  </div>
			  <div class="mt-10">
				<button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let's talk</button>
			  </div>
			</form>
		  </div>
		  
		
		<Footer />

		<style>

.fade-in {
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .fade-in.show {
      opacity: 1;
      transform: translateY(0);
	}
		</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const sections = document.querySelectorAll(".fade-in");

      const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add("show");
          }
        });
      }, { threshold: 0.2 }); // 📌 Se activa cuando el 20% de la siguiente sección es visible

      sections.forEach(section => observer.observe(section));
    });
  </script>
	</body>
</html>
